<div class="row">
  <div class="col s3">
    <abc-video-list></abc-video-list>
  </div>
  <div class="col s6">
    <abc-video-player></abc-video-player>
  </div>
  <div class="col s3">
    <abc-stat-filters></abc-stat-filters>
  </div>
</div>
